<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.totra.spring.test.mvc.test01.repository.SellerRepository">
	<select id="LastSelectUser" resultType="com.totra.spring.test.mvc.test01.domain.Seller">
		SELECT
			`id`
			,`nickname`
			,`temperature`
			,`profileImage`
			,`createdAt`
			,`updatedAt`
		FROM `seller`
		ORDER BY `id` DESC
		LIMIT 1;
	</select>
	
	<select id="userId" resultType="com.totra.spring.test.mvc.test01.domain.Seller">
		SELECT
			`id`
			,`nickname`
			,`temperature`
			,`profileImage`
			,`createdAt`
			,`updatedAt`
		FROM `seller`
		WHERE `id`=#{id};
	</select>
	
	<insert id="UserInsert" parameterType="map">
		INSERT INTO `seller`
		(
			`nickname`
			,`temperature`
			,`profileImage`
		)
		VALUE
		(
			#{nickname}
			,#{temperature}
			,#{profileImage}	
		);
	</insert>

</mapper>